.user {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}

.name {
  color: #fff;
}
