.topNav {
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: var(--nav-background);
  color: white;
  align-items: center;
  padding: 1rem;
  height: 3rem;
  z-index: 1;
}

.navList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grow {
  flex-grow: 1;
}

.sessionSpinner {
  margin: -4px 0;
}

.greeting {
  margin-right: 1rem;

  @media (width < 512px) {
    display: none;
  }
}
