:root {
  --main-hue: 275deg;
  --main-saturation: 75%;
  --background: hsl(var(--main-hue) var(--main-saturation) 20%);
  --text: #fff;
  --input-border: #669;
  --input-border-focus: #99b;
  --link-color: #fab;
  --button-color: hsl(var(--main-hue) var(--main-saturation) 30%);
  --button-hover-color: hsl(var(--main-hue) var(--main-saturation) 35%);
  --nav-background: hsl(var(--main-hue) var(--main-saturation) 10%);
  --spinner-size: 100px;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
  overscroll-behavior: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

button {
  font-size: 1.25rem;
  background-color: var(--button-color);
  color: var(--text);
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover-color);
  }
}

* {
  box-sizing: border-box;
}

.centeredPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}

.listPage {
  padding: 1rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 1rem 0;
}

p {
  margin: 0;
}
