.spinner {
  height: var(--spinner-size);
  width: var(--spinner-size);
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.armWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  height: 10%;
}

.arm {
  animation: 1s infinite linear fade;
  border-radius: 1000px;
  position: absolute;
  left: 70%;
  width: 30%;
  height: 100%;
  background-color: currentcolor;
}

@keyframes fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
