.quoteBlock {
  gap: 0;
  max-width: 100vw;
  flex-grow: 1;

  @media (width >= 512px) {
    max-width: 80vw;
  }

  @media (width >= 1024px) {
    max-width: 60vw;
  }
}

.editIcon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
}

.quote {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: justify;
  font-size: 1.5rem;

  @media (width >= 512px) {
    font-size: 1.75rem;
  }

  @media (width >= 1024px) {
    font-size: 2rem;
  }
}

.person {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 1.125rem;

  @media (width >= 512px) {
    font-size: 1.25rem;
  }

  @media (width >= 1024px) {
    font-size: 1.5rem;
  }
}
