.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100svh - 3rem);
  position: relative;
}

.gitlabLink {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  width: 32px;
  height: 29.5px;
}

.gitlabLogo {
  width: 32px;
  height: 29.5px;
}
