.quotes {
  margin: 0;
  padding: 0;
  max-width: calc(100vw - 2rem);
  list-style-type: none;

  @media (width >= 512px) {
    max-width: 80vw;
  }

  @media (width >= 1024px) {
    max-width: 60vw;
  }
}

.quote {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  margin: 0.25rem 0;

  @media (width >= 512px) {
    font-size: 1.25rem;
  }

  @media (width >= 1024px) {
    font-size: 1.5rem;
  }
}

.quoteText {
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nextPageSpinner {
  --spinner-size: 2.25rem;

  @media (width >= 512px) {
    --spinner-size: 2.5rem;
  }

  @media (width >= 1024px) {
    --spinner-size: 3rem;
  }
}

.loadMore {
  font-size: 1rem;
  padding: 0.5rem 1rem;

  @media (width >= 512px) {
    font-size: 1.1rem;
    padding: 0.6rem 1.2rem;
  }

  @media (width >= 1024px) {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
  }
}
